{% extends 'base.html' %}

{% block title %}
Blog Away - Create New
{% endblock title %}

{% block nav %}
    <nav>
        <ul>

            <li><a href="/admin">Admin</a></li>
            <li><a href="./">Back</a></li>
        </ul>
    </nav>
{% endblock nav %}

{% block content %}

    <main>
        <form method="POST">
            {% csrf_token %}
            <!-- makes sure form is secure -->
            {{ form.as_p }}
            <!-- django uses to format form -->
            <button type="submit">Add Post</button>
        </form>
    </main>
    <footer></footer>

{% endblock content %}
