<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Away</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="./">Back</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p><a href = "{% url 'post_update' post.id %}">Edit Post</a></p>
    </main>
    <footer></footer>
</body>
</html>
